/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff4c2; /* خلفية بدرجة من درجات الأصفر */
}

header {
    background-color: #6a0dad; /* بنفسجي داكن */
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: #fff4c2; /* خلفية بدرجة من درجات الأصفر */
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input, form select {
    background-color: #f0e68c; /* أصفر فاتح */
}

form button {
    background-color: #6a0dad; /* بنفسجي داكن */
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #8a2be2; /* بنفسجي أكثر سطوعاً */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #6a0dad; /* بنفسجي داكن */
    color: white;
}

#image-display img {
    max-width: 100%;
    height: auto;
}
/* styles.css */

/* تصميم الرسائل */
.message {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.message img, .message video, .message audio {
    max-width: 100%;
    margin-top: 10px;
}

/* تصميم حقل الدردشة */
#chat-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#chat-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#chat-form input[type="file"] {
    margin-bottom: 10px;
}

#chat-form button {
    padding: 10px 20px;
    background-color: #6a0dad;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#chat-form button:hover {
    background-color: #8a2be2;
}

/* تصميم قسم الرسائل */
#messages {
    margin-bottom: 20px;
}